.card{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.bg-green{
    background-color: lightgreen;
}

.bg-red{
    background-color: lightcoral;
}